<a href="https://colab.research.google.com/github/rdg922/Discord-Among-Us-Bot/blob/master/basics/lesson-02/reference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 2: Math Operators, If statements, For loops


* More Math Operators
  * Modulo and Integer Division
* Using if statements
	* Else and else if statements
* For loops to repeat code:
  * Starting and ending at specific numbers
  * Incrementing by numbers other than one
  * Nested loops

## Math Operators

This cell uses the assignment operator (fancy term for an =) to set the variable a equal to the number 5

In [ ]:
a = 5

Practice: add one to the variable a

In [ ]:
a += 1

The math operators are: 

* += adds
* -= subtracts
* *= multiplies
* /= divides 

### Modulo (%)

The modulo operator gets you the remainder of a division

Try it out here:

In [ ]:
a = 7
b = 2
print(a / b)
print(a % b)

Explanation: 7 / 2 is 3.5, with the remainder of 7 / 2 being 1

You can also mod a number and then assign it:

In [ ]:
a = 10
a %= 3
print(a)

### Integer Division (//)

You can divide a number and great no remainder with ```//```

In [ ]:
a = 10
b = 3
a //= b
print(a) # a /= b equals to 3 with .3 repeating

Practice: 

Divide b by a and set the value to b. Print out b afterwards

In [ ]:
b //= a
print(b)

## If Statements

If statements execute code based on a boolean. Look at the example below:

In [ ]:
a = True
if a:
  print("A is True!")

Pay attention to the colon after the boolean, and the indentation for the code.

**Indentation in python manages control flow**

Look at the example below:

In [ ]:
a = False
if b:
  print("This will not run because b is False!")
print("This will always run, whether or not b is True or False!")

We can also evaluate the boolean inside the if statement:

In [ ]:
a = int(input())
if a > 10:
  print("Your number is greater than 10")

Practice: Write an if statement that will print whether your number is less than or equal to 20

In [ ]:
if int(2input()) <= 20:
  print("Your number is less than or equal to 20")

# similar result:

your_num = int(input()) 
if your_num <= 20:
  print("Your number is less than or equal to 20")

### Else Statements

You can use an else clause to make code run if a statement is not true

In [ ]:
number = int(input())
if number < 10:
  print("Your number is less than ten")
else:
  print("Your number is greater than ten")

Do you see a logical issue with the code?

<details>
  <summary>See the issue</summary>

  Try to put the number 10 and look at what the result says
</details>

We can fix this issue with elif statements, we'll see this example later though.

### Elif Statements

Elif or Else if statments can execute code if the original boolean expression isn't true

In [ ]:
a = 15 # Play with this value
if a > 10:
  print("a is greater than 10")
elif a < 5:
  print("a is less than 5")
print("This will still print no matter what")

Elif statements only run if the if and elif statements above aren't true:

In [ ]:
a = 10

if a > 10:
  print("a is greater than 10")
elif a > 9:
  print("a is greater than 9")
elif a > 8:
  print("a is greater than 8")

Notice how only "a is greater than 9" is printed?

You can also use else statments with elif statements. Try this out:

In [ ]:
number = int(input())
if number < 10:
  print("Your number is less than ten")
elif number == 10:
  print("Your number is equal to ten")
else:
  print("Your number is greater than ten")

Practice: Take in an integer using input() and print whether the number is greater than 10, less than 5 or between the two values

In [ ]:
a = int(input()) 
if a > 10:
  print("a is greater than 10")
elif a < 5:
  print("a is less than 5")
else:
  print("a is between 5 and 10")

### Nesting if statements:

You can put if statments inside of if statments just by indenting carefully:

In [ ]:
a = 5
b = 6
c = 7
if c > b:
  if c > a:
    print("C is greatest")

This is identical to using one if statement in this case:

In [ ]:
a = 5
b = 6
c = 7
if c > b and c > a
    print("C is greatest")

Practice: 

Take in three integers, a, b, and c using input()

Print which number is greatest. 

a b and c will never have equal values with each other:

In [ ]:
a = int(input("Put in A "))
b = int(input("Put in B "))
c = int(input("Put in C "))

if a > b:
  if a > c:
    print("A is the greatest")
  elif c > a:
    print("C is the greatest")
else:
  if b > c:
    print("B is the greatest")
  elif c > b:
    print("C is the greatest")

## For Loops

For loops help repeat code. Here is the syntax for a basic for loop:

Pay attention to the integer 10, try changing it to another integer.

In [ ]:
for i in range(10):
  print("This will print 10 times!")

### Parts of a for loop

Practice: Using the code above as a reference, change the integers 10 to an integer taken from input(). Make sure you change the print line to print the correct number of times the loop occurred

In [ ]:
iterations = int(input())
for i in range(iterations):
  print("This will print " + str(iterations) + " times")

The *i* variable stores the number of iterations that have occurred. It starts from 0 and ends at the number put inside range() - 1

In [ ]:
for i in range(10):
  print(i)
# This will print the numbers 0 through 9

Practice: Print the integers from 1 to 10 on individual lines

<details>
<summary>Here's a Hint:</summary>
i is an integer that you can add to inside the loop
</details>

In [ ]:
for i in range(10):
  print(i + 1)

You can also change the variable name.

In [ ]:
for iterations in range(10):
  print(iterations * 2 - 1)

Practice: Print the character * 100 times in a vertical line
You can only use 2 lines of code

In [ ]:
for i in range(100):
  print("*")

You can affect variables initialized before the for loop:

In [ ]:
a = 10
for i in range(10):
  a += i
print(a)

You can do this with strings too:

In [ ]:
bruh = ""
for i in range(10):
  bruh += " bruh "
print(bruh)

Practice: Print a horizontal line of 's of *n* length. With n being an integer taken from input

In [ ]:
output = ""
for i in range(int(input())):
  output += "*"
print(output)

You can use input() inside of a for loop!

In [ ]:
for i in range(5):
  x = int(input("Your number:"))
  print("Twice your number is: " + str(x * 2))

### Range function

The range function helps dictate the number of times your function can run, but there is more we can do with it:

In [ ]:
for i in range(2, 10):
  print(i)

Remember that range(10) would print the integers 0 to 10, not including 10. 

When we use two integers, it prints from the first integers to the second integers minus 1 

Practice: Print the integers 10 to 20 (including 20) on one line. Remember to cast your integers to string

In [ ]:
output = ""
for i in range(10, 21):
  output += str(i) + " "
print(output)

When we use three integers, we change the amount it iterates through

In [ ]:
for i in range(0, 10, 2):
  print(i)

Practice: Print all the odd numbers from 1 to 100, including 100

In [ ]:
for i in range(1, 100, 2):
  print(i)

Practice: Print the integers from 10 to 1 in descending order:

In [ ]:
for i in range(10, 0, -1):
  print(i)

### Nested for loops

You can run loops inside other loops, the syntax is what you may expect.

Make sure the variables you use in the loops are different.

In [ ]:
size = int(input())
for y in range(size):
  output = ""
  for x in range(size):
    output += "*"
  print(output)

Practice: Try to achieve the same result with two for loops that are NOT inside each other

<details>
<summary>Hint:</summary>
The line you print is the same every time, so if you have the line you print saved to a variable you can reuse that variable
</details>

In [ ]:
size = int(input())
output = ""
for x in range(size):
  output += "*"
for y in range(size):
  print(output)

Practice 

Taking in an integer for length try to draw the following shapes:

```
****
****
****
****

*
**
***
****

   *
  **
 ***
****

   *
  ***
 *****
*******
```

In [ ]:
length = int(input())

output = ""
for x in range(length):
  output += "*"
for y in range(length):
  print(output)

print()

for i in range(length):
  output = ""
  for x in range(i+1):
    output += "*"
  print(output)

print()

for i in range(length):
  output = ""
  for x in range(length - (i + 1)):
    output += " "
  for x in range(i+1):
    output += "*"
  print(output)

print()

for i in range(length):
  output = ""
  for x in range(length - (i + 1)):
    output += " "
  for x in range(i*2+1):
    output += "*"
  print(output)